# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
MANIFEST

# Environments
.env
.venv
venv/

# IDEs
.idea/

# PyPI configuration file
.pypirc
